@font-face {
  font-family: TT Travels Next ExtraBold;
  font-display: swap;
  src: url("../fonts/TT Travels Next ExtraBold.woff2") format("woff2"), url("../fonts/TT Travels Next ExtraBold.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: icons;
  font-display: swap;
  src: url("../fonts/icons.woff2") format("woff2"), url("../fonts/icons.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}
