.login-content {
	&__container {
	}

	&__content {
		margin: rem(20) 0 rem(50) 0;
		display: flex;
		flex-direction: column;
		align-items: center;
	}
}
.content-login {
	&__title {
		margin-bottom: rem(40);
	}

	&__form {
	}
}

.form-login {
	&__body {
		max-width: rem(380);
		display: flex;
		align-items: center;
		flex-direction: column;
		gap: rem(20);
		font-size: rem(16);
	}

	&__item {
		display: flex;
		align-items: center;
		flex-direction: column;
		label {
			margin-bottom: rem(10);
		}
		input {
			@include adaptiveValue('width', 380, 300);
			padding: rem(10) 0;
			text-align: center;
			border: 2px solid $redColor;
			border-radius: rem(10);
		}
	}

	&__checkbox {
	}

	&__label {
	}

	&__buttons {
	}

	&__button {
	}
}
.button {
}
