.vacancy-modal {
	&__dialog {
	}

	&__content {
		border-radius: 0;
	}

	&__header {
	}

	&__title {
		flex: 1 1 auto;
		align-self: center;
		text-align: center;
		font-size: rem(24);
		font-family: $tt;
		color: $greenColor;
		text-transform: uppercase;
	}

	&__close {
		background-color: $redColor;
		color: #fff !important;
	}

	&__body {
		align-self: center;
		text-align: center;
		max-width: rem(380);
	}

	&__form {
		display: flex;
		flex-direction: column;
		align-items: center;
		gap: rem(10);
	}

	&__item {
		width: 100%;
		flex: 1 1 auto;
		font-size: rem(16);
	}

	&__input {
		border: rem(2) solid $redColor;
		border-radius: rem(10);
		padding: rem(12) rem(28);
	}
	&__file {
		max-width: rem(380);
		align-self: center;
		text-align: center;
	}

	&__footer {
		justify-content: center;
	}

	&__button {
	}
}
