// Заголовки, общие БЄМ блоки и прочее...

.title {
	font-family: $tt;
	font-weight: 800;
	font-size: rem(18);
	text-align: center;
	text-transform: uppercase;
	margin-bottom: rem(15);
	color: $greenColor;
	@media (min-width: $tablet) {
		text-align: left;
		margin-bottom: rem(10);
		font-size: rem(24);
		line-height: 34px;
		line-height: math.div(34, 24);
	}
}
._active {
	color: $redColor;
}

._catalog-grid {
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(rem(290), 1fr));
	grid-auto-rows: auto;
	gap: 0;
	justify-content: space-between;
	background-color: #fff;
	margin-bottom: rem(15);
	@media (min-width: $mobileSmall) {
		background-color: transparent;
		gap: rem(25);
	}
}
.card {
	display: flex;
	flex-direction: row;
	background-color: #fff;
	margin: rem(14) 0;
	@media (min-width: $mobileSmall) {
		margin: 0;
		flex-direction: column;
		justify-content: space-between;
	}
	&__image {
		position: relative;
		flex: 0 0 50%;
		@media (min-width: $mobileSmall) {
			flex: 0 1 auto;
			@media (any-hover: hover) {
				&:hover {
					img {
						filter: brightness(110%);
					}
				}
			}
		}
		img {
			transition: all 0.3s ease 0s;
		}
	}

	&__thumb {
		width: 100%;
		position: relative;
	}

	&__icon {
		position: absolute;
		top: 0;
		right: 0;
		width: 30%;
	}

	&__info {
		flex-grow: 1;
		display: flex;
		flex-direction: column;
		height: 100%;
		padding: rem(5) rem(5) 0 rem(6);
		@media (min-width: $mobileSmall) {
			padding: rem(32) rem(20) rem(20) rem(22);
		}
	}

	&__top-line {
		display: flex;
		gap: rem(25);
		justify-content: space-between;
		align-items: center;
	}

	&__title {
		font-weight: 600;
		font-size: rem(12);
		transition: all 0.3s ease 0s;
		@media (min-width: $mobileSmall) {
			font-size: rem(16);
		}
		@media (any-hover: hover) {
			&:hover {
				color: $redColor;
			}
		}
	}

	&__tip-button {
		display: none;
		@media (min-width: $mobileSmall) {
			flex-shrink: 0;
			display: flex;
			align-items: center;
			justify-content: center;
			border-radius: 50%;
			height: rem(21);
			width: rem(21);
			background-color: rgba(240, 78, 62, 0.2);
			font-family: $tt;
			color: #fff;
			font-weight: 800;
			font-size: rem(14);
			cursor: default;
			transition: all 0.3s ease 0s;
			@media (any-hover: hover) {
				&:hover {
					background-color: rgba(240, 77, 62, 0.558);
				}
			}
		}
	}

	&__description {
		flex: 1 1 auto;
		margin: rem(7) 0;
		font-size: rem(10);
		line-height: math.div(12, 10);
		align-items: flex-end;
		@media (min-width: $mobileSmall) {
			font-size: rem(12);
			line-height: math.div(15, 12);
			margin: rem(15) 0;
		}
	}
	&__tip {
	}
	&__modifiers {
		margin-bottom: rem(20);
		@media (max-width: $mobileSmall) {
			margin-bottom: rem(5);
			margin-top: rem(5);
		}
		.select__content {
			font-size: rem(14);
		}
		.select__option {
			font-size: rem(14);
		}
		@media (max-width: $mobileSmall) {
			.select__content {
				font-size: rem(10);
			}
			.select__option {
				font-size: rem(10);
				padding: rem(10) rem(15);
			}
			.select__value {
			}
		}
	}

	&__bot-line {
		display: flex;
		align-items: center;
		justify-content: space-between;
		margin-top: auto;
	}

	&__price {
		font-weight: 800;
		font-size: rem(12);
		@media (min-width: $mobileSmall) {
			font-size: rem(20);
		}
	}

	&__button {
	}
}

.card-sm {
	display: flex;
	gap: rem(10);
	background-color: #fff;
	position: relative;
	@media (min-width: em(999)) {
		gap: rem(16.5);
	}
	&__image {
		flex: 0 0 50%;
		img {
			width: 100%;
		}
		@media (min-width: em(999)) {
			flex: 0 0 25%;
		}
	}

	&__info {
		flex: 1 1 auto;
		display: flex;
		justify-content: space-between;
		flex-direction: column;
		@media (min-width: em(999)) {
			flex-direction: row;
		}
	}
	&__text {
		display: flex;
		flex-direction: column;
		justify-content: center;
		gap: rem(5);
		padding: rem(5) rem(40) rem(5) 0;
		@media (min-width: em(999)) {
			gap: rem(10);
			padding: 0;
		}
	}
	&__title {
		font-weight: 600;
		font-size: rem(12);
		line-height: math.div(18, 16);
		transition: color 0.3s ease 0s;
		@media (any-hover: hover) {
			&:hover {
				color: $redColor;
			}
		}
		@media (min-width: em(999)) {
			font-size: rem(16);
		}
	}

	&__modifiers {
		display: flex;
		flex-direction: column;
		gap: 0;
		font-size: rem(12);
		line-height: math.div(18, 16);
		@media (min-width: em(999)) {
			gap: rem(5);
			font-size: rem(16);
		}
	}

	&__actions {
		padding-right: rem(20);
		display: flex;
		align-items: center;
		justify-content: space-between;
		gap: rem(30);
		padding-bottom: rem(5);
		@media (min-width: em(999)) {
			padding-bottom: 0;
		}
	}

	&__quantity {
		display: flex;
		gap: rem(7);
		justify-content: space-between;
		align-items: center;
		font-weight: 600;
		font-size: rem(16);
		@media (max-width: $tablet) {
		}
	}

	&__minus,
	&__plus {
		&::before {
			font-size: rem(10);
			display: flex;
			align-items: center;
			justify-content: center;
			text-align: center;
			width: rem(16);
			height: rem(16);
			background-color: $redColor;
			color: #fff;
			border-radius: 50%;
			@media (max-width: $tablet) {
				width: rem(22);
				height: rem(22);
			}
		}
	}

	&__price {
		font-weight: 800;
		font-size: 20px;
		font-size: rem(12);
		color: $greenColor;
		@media (min-width: em(999)) {
			font-size: rem(20);
		}
	}

	&__close {
		display: flex;
		position: absolute;
		font-size: rem(18);
		color: $redColor;
		right: rem(10);
		top: rem(10);
		transition: color 0.3s ease 0s;
		@media (any-hover: hover) {
			&:hover {
				color: $yellowColor;
			}
		}
	}
}

.card-sm-gift {
	display: flex;
	background-image: none;
	background-color: $redColor;
	background-size: cover;
	gap: rem(10);
	position: relative;
	@media (min-width: em(999)) {
		background-image: url(@img/order-page/gift-bg.svg);
		gap: rem(16.5);
	}
	&__image {
		flex: 0 0 50%;
		img {
			width: 100%;
		}
		@media (min-width: em(999)) {
			flex: 0 0 25%;
			gap: rem(16.5);
		}
	}

	&__info {
		flex: 1 1 auto;
		display: flex;
		justify-content: space-between;
		flex-direction: column;
		@media (min-width: em(999)) {
			flex-direction: row;
		}
	}

	&__text {
		display: flex;
		flex-direction: column;
		justify-content: center;
		gap: rem(5);
		padding: rem(5) rem(40) rem(5) 0;
		@media (min-width: em(999)) {
			gap: rem(10);
			padding: 0;
		}
	}

	&__title {
		font-weight: 600;
		font-size: rem(12);
		line-height: math.div(18, 16);
		color: #fff;
		transition: color 0.3s ease 0s;
		@media (any-hover: hover) {
			&:hover {
				color: $yellowColor;
			}
		}
		@media (min-width: em(999)) {
			font-size: rem(16);
		}
	}

	&__gift {
		padding-right: rem(20);
		display: flex;
		align-items: center;
		padding-bottom: rem(20);
		font-family: $tt;
		font-size: rem(16);
		color: #ffeda9;
		text-transform: uppercase;
		@media (min-width: em(999)) {
			padding-bottom: 0;
			font-size: rem(20);
		}
	}

	&__close {
		position: absolute;
		font-size: rem(18);
		color: #ffeda9;
		right: rem(10);
		top: rem(10);
		transition: color 0.3s ease 0s;
		@media (any-hover: hover) {
			&:hover {
				color: $greenColor;
			}
		}
	}
}

.input-red {
	border-radius: rem(10);
	background-color: #fff;
	border: 2px solid $redColor;
	padding: rem(10) 0;
	font-size: rem(16);
	&_invalid {
		background-color: $redColor;
	}
}
.input-sm {
	max-width: rem(60);
	padding-left: rem(5);
}
.button {
	padding: rem(8) rem(16);
	font-weight: 800;
	font-size: rem(10);
	text-transform: uppercase;
	border-radius: rem(5);
	color: #fff;
	background-color: $redColor;
	transition: all 0.3s ease 0s;
	@media (min-width: $mobileSmall) {
		padding: rem(12) rem(22);
		font-size: rem(16);
	}
	@media (any-hover: hover) {
		&:hover {
			background-color: $yellowColor;
			color: rgb(255, 255, 255);
		}
	}
	&_green {
		background-color: $greenColor;
	}
}
.link-more {
	position: relative;
	font-family: $tt;
	font-size: rem(16);
	color: #ffffff;
	text-transform: uppercase;
	svg {
		width: rem(108);
		path {
			transition: fill 0.3s ease 0s;
			fill: $greenColor;
		}
	}
	p {
		position: absolute;
		top: 0;
		left: 50%;
		transform: translate(-50%, -60%);
		transition: color 0.3s ease 0s;
	}
	@media (any-hover: hover) {
		&:hover {
			svg {
				path {
					fill: $yellowColor;
				}
			}
			p {
				color: $redColor;
			}
		}
	}
}

//tippy customize
.tippy-box[data-theme~='pizzato'] {
	background-color: #ffeda9;
	color: #000;
}

.tip-template {
	max-width: rem(280);
	background-color: #ffeda9;
	padding: rem(12) rem(8);
	font-size: rem(12);
	line-height: math.div(14, 12);
	&[data-inertia][data-state='visible'] {
		transition-timing-function: cubic-bezier(0.29, 1.01, 1, -0.68);
	}
	&__ingredients {
	}

	&__nutrition {
	}

	&__description {
	}
}

._creative-title {
	font-family: $tt;
	font-weight: 800;
	font-size: rem(16);
	line-height: math.div(22, 16);
}

.map-hint {
	display: inline-block;
	padding: rem(12) rem(20);
	position: relative;
	white-space: nowrap;
	left: -10px;
	font-size: 14px;
	font-weight: 600;
	color: $yellowColor;
	text-align: center;
	vertical-align: middle;
	background-color: $greenColor;
	border-radius: rem(10);
}
.anim-logo {
	z-index: 1;
	&__spark {
		fill: $greenColor;
		animation: sparks 1s ease-in infinite alternate-reverse running;
		@media (min-width: $tablet) {
			animation: sparks 1s ease-in infinite alternate-reverse paused;
		}
	}

	&__hand {
		transform-origin: center;
		animation: hand 1s ease-in infinite alternate-reverse running;
		@media (min-width: $tablet) {
			animation: hand 1s ease-in infinite alternate-reverse paused;
		}
	}

	&__eyebrow {
		animation: eyebrow 1s ease-in infinite alternate-reverse running;
		@media (min-width: $tablet) {
			animation: eyebrow 1s ease-in infinite alternate-reverse paused;
		}
	}
	@media (any-hover: hover) {
		&:hover {
			.anim-logo__spark {
				animation-play-state: running;
			}
			.anim-logo__hand {
				animation-play-state: running;
			}
			.anim-logo__eyebrow {
				animation-play-state: running;
			}
		}
	}
}

@keyframes sparks {
	0% {
		transform: translate(3px, 4px);
		opacity: 0;
	}

	100% {
		transform: translate(0, 0);
		opacity: 1;
		fill: $redColor;
	}
}

@keyframes hand {
	0% {
		transform: translateY(3px) translateX(3px) rotate(10deg);
	}

	100% {
		transform: translateY(0) translateX(0) rotate(0);
	}
}
@keyframes eyebrow {
	0% {
		transform: translateY(1px);
	}
	50% {
		transform: translateY(1px);
	}

	100% {
		transform: translateY(0);
	}
}
