// Заголовки, общие БЄМ блоки и прочее...
.title {
	font-family: $tt;
	font-weight: 800;
	font-size: rem(18);
	text-align: center;
	text-transform: uppercase;
	margin-bottom: rem(15);
	@media (min-width: $tablet) {
		text-align: left;
		margin-bottom: rem(10);
		font-size: rem(24);
		line-height: 34px;
		line-height: math.div(34, 24);
	}
}
._catalog-grid {
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(rem(290), 1fr));
	grid-auto-rows: auto;
	gap: 0;
	justify-content: space-between;
	background-color: #fff;
	margin-bottom: rem(15);
	@media (min-width: $mobileSmall) {
		background-color: transparent;
		gap: rem(25);
	}
}
.card {
	display: flex;
	flex-direction: row;
	background-color: #fff;
	margin: rem(14) 0;
	@media (min-width: $mobileSmall) {
		margin: 0;
		flex-direction: column;
		justify-content: space-between;
	}
	&__image {
		position: relative;
		flex: 0 0 50%;
		@media (min-width: $mobileSmall) {
			flex: 0 1 auto;
			@media (any-hover: hover) {
				&:hover {
					img {
						filter: brightness(110%);
					}
				}
			}
		}
		img {
			transition: all 0.3s ease 0s;
		}
	}

	&__thumb {
		width: 100%;
		position: relative;
	}

	&__icon {
		position: absolute;
		top: 0;
		right: 0;
		width: 30%;
	}

	&__info {
		display: flex;
		flex-direction: column;
		height: 100%;
		padding: rem(5) rem(5) 0 rem(6);
		@media (min-width: $mobileSmall) {
			padding: rem(32) rem(20) rem(20) rem(22);
		}
	}

	&__top-line {
		display: flex;
		gap: rem(25);
		justify-content: space-between;
		align-items: center;
	}

	&__title {
		font-weight: 600;
		font-size: rem(12);
		transition: all 0.3s ease 0s;
		@media (min-width: $mobileSmall) {
			font-size: rem(16);
		}
		@media (any-hover: hover) {
			&:hover {
				color: $redColor;
			}
		}
	}

	&__tip-button {
		display: none;
		@media (min-width: $mobileSmall) {
			flex-shrink: 0;
			display: flex;
			align-items: center;
			justify-content: center;
			border-radius: 50%;
			height: rem(21);
			width: rem(21);
			background-color: rgba(240, 78, 62, 0.2);
			font-family: $tt;
			color: #fff;
			font-weight: 800;
			font-size: rem(14);
			cursor: default;
			transition: all 0.3s ease 0s;
			@media (any-hover: hover) {
				&:hover {
					background-color: rgba(240, 77, 62, 0.558);
				}
			}
		}
	}

	&__description {
		flex: 1 1 auto;
		margin: rem(15) 0;
		font-size: rem(10);
		line-height: math.div(12, 10);
		align-items: flex-end;
		@media (min-width: $mobileSmall) {
			font-size: rem(12);
			line-height: math.div(15, 12);
		}
	}
	&__tip {
	}

	&__bot-line {
		display: flex;
		align-items: center;
		justify-content: space-between;
	}

	&__price {
		font-weight: 800;
		font-size: rem(12);
		@media (min-width: $mobileSmall) {
			font-size: rem(20);
		}
	}

	&__button {
	}
}

.button {
	padding: rem(8) rem(16);
	font-weight: 800;
	font-size: rem(10);
	text-transform: uppercase;
	border-radius: rem(5);
	color: #fff;
	background-color: $redColor;
	transition: all 0.3s ease 0s;
	@media (min-width: $mobileSmall) {
		padding: rem(12) rem(22);
		font-size: rem(16);
	}
	@media (any-hover: hover) {
		&:hover {
			background-color: $yellowColor;
			color: rgb(255, 255, 255);
		}
	}
}
.link-more {
	position: relative;
	font-family: $tt;
	font-size: rem(16);
	color: #ffffff;
	text-transform: uppercase;
	svg {
		width: rem(108);
	}
	p {
		position: absolute;
		top: 0;
		left: 50%;
		transform: translate(-50%, -60%);
	}
}

//tippy customize
.tippy-box[data-theme~='pizzato'] {
	background-color: #ffeda9;
	color: #000;
}

.tip-template {
	max-width: rem(280);
	background-color: #ffeda9;
	padding: rem(12) rem(8);
	font-size: rem(12);
	line-height: math.div(14, 12);
	&[data-inertia][data-state='visible'] {
		transition-timing-function: cubic-bezier(0.29, 1.01, 1, -0.68);
	}
	&__ingredients {
	}

	&__nutrition {
	}

	&__description {
	}
}
