//====================================================================================================
.top-header {
	display: none;
	@media (min-width: $tablet) {
		height: rem(24);
		display: block;
		background-color: $greenColor;
		color: #fff;
	}

	&__container {
		padding-top: rem(7);
		padding-bottom: rem(7);
		display: flex;
		justify-content: space-between;
		align-items: center;
	}

	&__city-selector {
		font-family: $tt;
		font-size: rem(10);
	}
	&__city {
		color: $yellowColor;
		transition: color 0.3s ease 0s;
		@media (any-hover: hover) {
			&:hover {
				color: $redColor;
			}
		}
	}

	&__nav {
		font-family: $fontFamily;
	}

	&__list {
		display: flex;
		gap: rem(45);
		font-size: rem(10);
		text-transform: uppercase;
		font-weight: 800;
	}

	&__item {
		font-weight: 800;
	}

	&__link {
		transition: color 0.3s ease 0s;
		@media (any-hover: hover) {
			&:hover {
				color: $yellowColor;
			}
		}
	}

	&__pizza-counter {
		z-index: 100;
		font-family: $tt;
		max-width: rem(180);
		margin: 0 auto;
		padding-top: rem(45);
		text-align: center;
		font-size: rem(14);
		line-height: math.div(20, 14);
		color: #fff;
		@media (min-width: $tablet) {
			max-width: none;
			margin: 0;
			z-index: 0;
			padding: 0;
			line-height: math.div(14, 14);
			font-size: rem(10);
			max-width: 100%;
			text-align: left;
		}
	}

	&__pizza {
		color: $yellowColor;
	}
}
.header {
	position: absolute;
	z-index: 4;

	width: 100%;
	background-color: #fff;
	top: 0;
	padding-bottom: rem(5);

	box-shadow: 0px 3px 21px 7px rgba(1, 34, 9, 0.1);
	@media (min-width: $tablet) {
		top: rem(24);
		padding-bottom: 0;
	}
	&__container {
	}

	&__main {
	}
	&._header-scroll {
		position: fixed;
		min-width: 100%;
		top: 0;
		opacity: 0;

		.main-header {
			padding: rem(5) 0;
		}
		.cabinet__text,
		.cart__total-price {
			display: none;
		}
		@media (min-width: $tablet) {
			.cabinet__icon,
			.cart__icon {
				width: rem(45);
				height: rem(45);
			}
			.cabinet__icon:before,
			.cart__icon:before {
				font-size: rem(26);
			}
			.main-header__logo {
				flex-basis: rem(180);
				img {
					width: 160px;
				}
			}
			.cart__amount {
				width: rem(16);
				height: rem(16);
				right: rem(-5);
				top: rem(-2);
				font-size: rem(12);
			}
		}
	}
	&._header-show {
		transition: all 0.2s ease 0s;
		opacity: 1;
	}
}

.main-header {
	padding: rem(15) 0;
	display: flex;
	align-items: center;
	justify-content: space-between;
	transition: all 0.2s ease 0s;
	&__logo {
		flex-grow: 0;
		flex-shrink: 0;
		@include adaptiveValue('flex-basis', 240, 170, 1280, 320);
		img {
			transition: all 0.3s ease 0s;
			@include adaptiveValue('width', 220, 170, 1280, 320);
			// height: 100%;
		}
	}

	&__nav {
		flex: 0 1 auto;
	}

	&__actions {
		flex: 0 0 auto;
	}
}
.actions {
	display: flex;
	align-items: center;
	justify-content: space-between;
	gap: rem(15);
	&__phone {
		position: relative;
		font-family: $fontFamily;
		font-weight: 800;
		font-size: rem(20);
		color: rgb(255, 255, 255);
		display: block;
		text-align: center;
		transition: color 0.3s ease 0s;

		@media (min-width: $tablet) {
			flex: 0 0 rem(256);
		}
		svg {
			width: rem(256);
			path {
				fill: $redColor;
				transition: fill 0.3s ease 0s;
			}
		}
		@media (max-width: $tablet) {
			margin-bottom: rem(26);
			svg {
				path {
					fill: $greenColor;
				}
			}
		}

		p {
			position: absolute;
			width: 100%;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -60%);
		}
		@media (any-hover: hover) {
			&:hover {
				color: $redColor;
				svg {
					path {
						fill: $yellowColor;
					}
				}
			}
		}
	}

	&__cabinet {
	}

	&__cart {
	}
}
.cabinet {
	display: flex;

	@media (min-width: $tablet) {
		flex-direction: column;
		align-items: center;
	}
	@media (any-hover: hover) {
		&:hover {
			.cabinet__el1 {
				transform: translate(0, 0);
				opacity: 1;
			}
			.cabinet__el2 {
				transform: translate(0, 0);
				opacity: 1;
			}
		}
	}

	&__icon {
		display: flex;
		justify-content: center;
		width: rem(40);
		height: rem(40);
		position: relative;
		background-size: cover;
		background-image: url(@img/cabinet-mobile-bg.svg);
		transition: all 0.3s ease 0s;
		@media (min-width: $tablet) {
			width: rem(56);
			height: rem(56);
			background-image: url(@img/actions-bg.svg);
		}
		&:before {
			align-self: center;
			color: #fff;
			font-size: rem(23);
			transition: color 0.3s ease 0s;
			@media (min-width: $tablet) {
				font-size: rem(33);
			}
		}
		@media (any-hover: hover) {
			&:hover {
				&:before {
					color: $yellowColor;
				}
			}
		}
	}
	&__text {
		display: none;
		font-size: rem(10);
		margin-top: rem(5);
		transition: all 0.3s ease 0s;
		@media (min-width: $tablet) {
			display: flex;
		}
	}
	&__el1 {
		position: absolute;
		top: 0;
		left: rem(3);
		transform: translate(rem(-2), rem(-2));
		transition: all 0.2s ease-in-out 0s;
		opacity: 0;
	}
	&__el2 {
		position: absolute;
		bottom: 0;
		right: rem(3);
		transform: translate(rem(2), rem(2));
		transition: all 0.2s ease-in-out 0s;
		opacity: 0;
	}
}
.cart {
	display: flex;
	flex-direction: column;
	align-items: center;
	bottom: rem(20);
	right: rem(20);
	@media (any-hover: hover) {
		&:hover {
			.cart__el1 {
				transform: translate(0, 0);
				opacity: 1;
			}
			.cart__el2 {
				transform: translate(0, 0);
				opacity: 1;
			}
			.cart__el3 {
				transform: translate(0, 0);
				opacity: 1;
			}
		}
	}
	@media (max-width: $tablet) {
		position: fixed;
	}
	&__icon {
		display: flex;
		position: relative;
		justify-content: center;
		width: rem(45);
		height: rem(45);
		background-size: cover;
		background-image: url(@img/cart-mobile-bg.svg);
		box-shadow: 0px 0px 15px 5px #fdc20053;
		border-radius: 50%;
		transition: all 0.3s ease 0s;
		@media (min-width: $tablet) {
			box-shadow: none;
			width: rem(56);
			height: rem(56);
			background-image: url(@img/actions-bg.svg);
		}
		&:before {
			align-self: center;
			color: #fff;
			font-size: rem(23);
			transition: color 0.3s ease 0s;
			@media (min-width: $tablet) {
				font-size: rem(33);
			}
		}
		@media (any-hover: hover) {
			&:hover {
				&:before {
					color: $yellowColor;
				}
			}
		}
	}
	&__amount {
		position: absolute;
		right: rem(-5);
		top: rem(-4);
		font-size: rem(12);
		display: flex;
		align-items: center;
		justify-content: center;
		background-color: $greenColor;
		border-radius: 50%;
		width: rem(16);
		height: rem(16);
		color: $yellowColor;
		transition: all 0.3s ease 0s;
		@media (min-width: $tablet) {
			right: rem(-9);
			top: rem(-6);
			font-size: rem(14);
			width: rem(24);
			height: rem(24);
		}
	}
	&__total-price {
		display: none;
		font-size: rem(10);
		margin-top: rem(5);
		@media (min-width: $tablet) {
			display: flex;
		}
	}
	&__el1 {
		position: absolute;
		top: rem(4);
		left: rem(5);
		transform: translate(rem(-2), rem(-2));
		transition: all 0.2s ease-in-out 0s;
		opacity: 0;
	}
	&__el2 {
		position: absolute;
		top: rem(23);
		left: 0;
		transform: translate(rem(-2), 0);
		transition: all 0.2s ease-in-out 0s;
		opacity: 0;
	}
	&__el3 {
		position: absolute;
		top: rem(33.5);
		right: 0;
		transform: translate(rem(2), rem(2));
		transition: all 0.2s ease-in-out 0s;
		opacity: 0;
	}
}
.nav {
	&__body {
		padding: 0 rem(15);
	}

	&__list {
		display: flex;
		flex-wrap: nowrap;
		column-gap: rem(29);
		@media (min-width: $tablet) {
			row-gap: rem(15);
			flex-wrap: wrap;
		}
	}

	&__item {
		font-family: $fontFamily;
		font-weight: 800;
		font-size: rem(14);
		line-height: math.div(17, 14);
		font-family: 'Montserrat';
		text-transform: uppercase;
		color: $greenColor;
	}

	&__link {
		transition: color 0.3s ease 0s;
		@media (any-hover: hover) {
			&:hover {
				color: $redColor;
			}
		}
	}
}
.sticky-menu {
	.nav {
		&__body {
			padding: 0;
		}
		&__list {
			padding: rem(10) 0;
			overflow-x: auto;
		}
		&__item {
			@include adaptiveValue('font-size', 16, 12);
			font-size: rem(12);
		}
	}
}

//====================================================================================================

//Burger

.menu {
	@media (min-width: $tablet) {
		display: none;
	}
	&__button-wrapper {
		display: flex;
		align-items: center;
		justify-content: center;
		z-index: 10;
		background-color: $greenColor;
		border-radius: 50%;
		width: rem(40);
		height: rem(40);
	}
	&__bg {
		z-index: 10;
		background-color: $greenColor;
		border-radius: 50%;
		width: rem(40);
		height: rem(40);
		display: flex;
		align-items: center;
		justify-content: center;
	}
	&__logo {
		z-index: 6;
		width: rem(165);
	}

	&__body {
		@media (max-width: $tablet) {
			display: flex;
			flex-direction: column;
			align-items: center;
			justify-content: space-between;
			position: fixed;
			overflow-y: auto;
			overflow-x: hidden;
			top: 0;
			right: -100%;
			padding: rem(25) rem(35) 0 rem(35);
			background-color: #ffeda9;
			width: auto;
			height: auto;
			z-index: 5;
			transition: right 0.3s ease 0s;
			// box-shadow: -10px 12px 38px 12px rgba(216, 216, 216, 0.2);
			.menu-open & {
				right: 0;
			}
		}
		@media (max-width: $mobile) {
			width: 100%;
			height: 100%;
		}
	}

	&__decor {
	}

	&__footer {
		width: calc(100% + rem(70));
		height: rem(106);

		background-image: url(@img/menu-footer-wave.svg);
		background-repeat: no-repeat;
		background-size: cover;
	}

	&__cabinet {
	}

	&__list {
		display: flex;
		gap: rem(25);
		flex-direction: column;
		align-items: center;
		margin-bottom: rem(20);
	}
	&__item {
		font-weight: 600;
		font-size: rem(15);
	}
	&__link {
	}
}

.icon-menu {
	display: none;
	@media (max-width: $tablet) {
		display: block;
		position: relative;
		width: rem(26);
		height: rem(18);
		cursor: pointer;
		z-index: 10;
		span,
		&::before,
		&::after {
			content: '';
			transition: all 0.3s ease 0s;
			right: 0;
			position: absolute;
			width: 100%;
			height: rem(2);
			background-color: $yellowColor;
		}
		&::before {
			top: 0;
		}
		&::after {
			bottom: 0;
		}
		span {
			top: calc(50% - rem(1));
		}
		.menu-open & {
			span {
				width: 0;
			}
			&::before,
			&::after {
			}
			&::before {
				top: calc(50% - rem(1));
				transform: rotate(-45deg);
			}
			&::after {
				bottom: calc(50% - rem(1));
				transform: rotate(45deg);
			}
		}
	}
}

.cabinet-menu {
	display: flex;
	align-items: center;
	&__icon {
		z-index: 1;
		width: rem(50);
	}

	&__button {
		max-width: rem(223);
		text-align: center;
		padding: rem(8) rem(23) rem(8) rem(43);
		margin-left: rem(-50);
		font-weight: 700;
		font-size: rem(13);
		line-height: math.div(18, 15);
		color: #fff;
		background-color: $redColor;
		border-radius: rem(50);
	}
}

//mobile menu decoration
.decor-menu {
	position: relative;
	width: calc(100% + rem(70));
	&__red {
		position: absolute;
		top: rem(30);
		left: 0;
		opacity: 0;
		transition: all 0.4s ease 0.25s;
	}

	&__blue {
		position: absolute;
		opacity: 0;
		top: rem(-97);
		left: rem(0);
		transition: all 0.5s ease 0.25s;
	}

	&__yellow {
		opacity: 0;
		position: absolute;
		top: rem(-125);
		right: rem(-90);
		transition: all 0.7s ease 0.25s;
	}

	&__little {
		position: absolute;
		top: rem(60);
		left: rem(84);
		opacity: 0;
		transform: rotate(-30deg);
		transition: all 0.9s ease 0.25s;
	}
	//animate class
	.menu-open & {
		&__red {
			top: rem(50);
			opacity: 1;
		}
		&__blue {
			opacity: 1;
			top: rem(-77);
			left: rem(15);
		}
		&__yellow {
			opacity: 1;
			top: rem(-85);
			right: rem(-60);
		}
		&__little {
			opacity: 1;
			transform: rotate(0);
		}
	}
}

.modal-open .header {
	padding-right: 17px;
}
